@model string
@{
    Layout = null;
    string next = "keine Patienten im Warteraum";
    if (Model != null) {
        next = Model;
    }    
    int anzahl = Patienten.Schlange.Count();
}
<!DOCTYPE html>
<html>
    <head>
                <title>Arzt Page</title>
        <style>
            .center {
                text-align: center;
            }
        .button {
            width: 120px;
            height: 60px;
            color: #FFFFFF;
            padding: 0px;
            border-radius: 0px;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            margin: 0px
        }
        </style>
    <nav>       
            <a asp-action="Index"><button type="button">Home</button></a>
            <a asp-action="PatientenListe"><button type="button">Warteraum</button></a>
             <a asp-action="Arztsicht"><button type="button">Arzt</button> </a>
              <a asp-action="Eingabe"><button type="button">Arzthelfer</button></a>   
    </nav>
      </head>
<body>
    <label asp-for="@anzahl">Patienten-Anzahl: </label>
    <input asp-for="@anzahl" />
    <h1>Patienten</h1>
    <div class="center">
        <label asp-for="@next">Patienten-Daten: </label>
        <label asp-for="@next">@next</label>
        <div class="button">
        <a asp-action="NextArztsicht"><button type="button">Nächster</button></a>
		</div>
	</div>

</body>
</html>
